# backend-secret.yaml.example
apiVersion: v1
kind: Secret
metadata:
  name: backend-secret
type: Opaque
stringData:
  DB_USER: "username_here"
  DB_PASSWORD: "password_here"
  JWT_SECRET: "random_string_here"